.floatimg {
    float: left;
    border: 1px solid black;
    margin: 0 40px 0 0;
}

pre { overflow-x: auto; white-space: pre; }

td { vertical-align: top }

/* Global customization */

/* Light mode theming */
:root,
:root[color-theme="light"] {
  --header-background: #fcab56;
  --header-font-color: #000000;
}
@media (prefers-color-scheme: light) {
  :root {
    --header-background: #fcab56;
    --header-font-color: #000000;
  }
}

/* Dark mode theming */
:root[color-theme="dark"] {
  --header-background: #fcab56;
  --header-font-color: #000000;
}
@media (prefers-color-scheme: dark) {
  :root {
    --header-background: #fcab56;
    --header-font-color: #000000;
  }
}
