@import 'td/code-dark'
;

.td-page-meta__child {
  display: none !important;
}

.td-page-meta__edit {
  display: none !important;
}

.td-page-meta__view {
  display: none !important;
}

.td-page-meta__issue {
  padding-top: 2em;
  padding-bottom: 1em;
}


.floatimg {
    float: left;
    border: 1px solid black;
    margin: 0 40px 0 0;
}

pre { overflow-x: auto; white-space: pre; }

th, td {
  vertical-align: top; 
  border: 1px solid #333;
  padding: 0.5em;
}
